body{
    background: #424242;
    font-family: Open Sans;
}
.main{
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    margin-left: 92px;
}
.f-block{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    min-height: 309px;
    min-width: 176px;
}
.check-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-h2{
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 21px auto 20px 30px;
}
.form-label{
    font-size: 14px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.def-checkbox{
    display: none;
}
.custom-check{
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #CCB26E;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}
.def-checkbox + .custom-check::before{
    content:'';
    background: url('files/Rectangle\ 99.png') center center no-repeat;
    background-size: 60%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.def-checkbox:checked + .custom-check::before{
    opacity: 1;
}
.s-block{
    width: 176px;
    margin-left: 58px;
    border-radius: 10px;
    height: 293px;
}
.select1{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.choices__inner{
    min-height: unset;
    height: 39px;
    padding: 9px 0px 11px 0px !important;
    border: 1px solid #CCB26E !important;
    border-radius: 10px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: 176px;
    box-sizing: border-box;
}
.choices__list--single{
    width: 146px;
    max-height: 39px;
    padding: 0px !important;
}
.choices__item{
    padding: 0px 0px 20px 15px !important;
}
.choices__item--selectable{
    width: 116px;
    padding-right: 0px !important;
    line-height: 14px;
}
.choices__item--selectable:after{
    display: none;
}
.choices__list--dropdown{
    width: 176px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #CCB26E !important;
    overflow: hidden;
    box-sizing: border-box;
}